$leftWidth: 170px;
$borderWidth: 3px;

.timeline {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: $leftWidth;

  .timeline-item {
    position: relative;
    margin-bottom: 45px;
  }

  .head {
    position: relative;
  }

  .left {
    position: absolute;
    left: -$leftWidth;
    top: 0;
  }

  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding-right: 0;

    .left {
      position: static;
      margin-bottom: 15px;
    }
  }
}
