@import "../../variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.mainnav {
  position: absolute;
  border-bottom: 1px solid $gray-200;
  background-color: white;

  a {
    text-decoration: none;
  }

  .navbar-brand {
    font-weight: $font-weight-bold;
    color: $gray-800;
  }

  .navbar-toggler {
    font-size: 12px;
    font-weight: $font-weight-bold;
    padding: 13px;
    text-transform: uppercase;
    color: $gray-800;
  }

  .navbar-nav {
    > li.nav-item {
      > a {
        font-size: 12px;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    border-bottom: 1px solid transparent;
    background: transparent;

    .navbar-brand {
      padding: 10px 20px;
      color: $white;
      &:focus,
      &:hover {
        color: fade-out($white, .2);
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a {
          padding: 10px 20px;
          color: $white;
          &:focus,
          &:hover {
            color: fade-out($white, .2);
          }
        }
      }
    }
  }
}
