@import "../../variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.masthead {
  position: relative;
  padding: 200px 0 150px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
}
