.masthead {
  position: relative;
  padding: 200px 0 150px; }
  .masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }

