@import "../../variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.blogpage {
  .avatar {
    max-width: 100%;
    width: 160px;
    height: auto;
  }

  .icons {
    a {
      color: $gray-800;

      &:hover {
        color: $primary;
      }
    }
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }
}
