.blogpage {
  .avatar {
    max-width: 100%;
    width: 160px;
    height: auto;
  }

  .icons {
    a {
      color: $gray-800;

      &:hover {
        color: $primary;
      }
    }
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  .mdx {
    .body {
      & > div > p {
        > a:first-child:last-child > img,
        > img:first-child:last-child {
          @include img-fluid;
        }
      }
    }
  }
}
