@import "../../variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.notebook {
  $prompt-width: 60px;
  $cell-padding: 0;

  // Came from prism.css
  $prism-pre-padding: 1em;
  $prism-pre-margin-y: 0.5em;

  .header {
    margin-left: $prompt-width + $cell-padding;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  .anchor-link {
    display: none;
  }

  .nb-cell {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    outline: none;
    overflow: visible;
    position: relative;
    width: 100%;

    padding-left: $prompt-width + $cell-padding;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  .nb-input,
  .nb-output {
    position: relative;

    &::before {
      font-size: $code-font-size;
      position: relative;

      @include media-breakpoint-up(md) {
        position: absolute;
        left: -$prompt-width;
        top: $prism-pre-padding + $prism-pre-margin-y;
      }
    }
  }

  .nb-input::before {
    color: #07a;
  }

  .nb-output::before {
    color: #dd4a68;
  }

  @for $i from 1 through 100 {
    .nb-input[data-prompt-number="#{$i}"] {
      &::before {
        content: "In [#{$i}]:";
      }
    }
    .nb-output[data-prompt-number="#{$i}"] {
      &::before {
        content: "Out [#{$i}]:";
      }
    }
  }

  .nb-stdout,
  .nb-text-output {
    padding: $prism-pre-padding;
    margin: $prism-pre-margin-y 0;
  }

  code[class*="language"] {
    margin: 0;
    padding: 0;
  }
}
