$teal: #0085A1;
$primary: $teal;
$font-family-sans-serif: "Noto Sans JP", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
