$primary: #00BCD4;
$font-weight-bold: 900;
$font-family-sans-serif: "Noto Sans JP", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-color: #212529; // $gray-900
$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: $primary;
