@import "./variables";
@import "~@fortawesome/fontawesome-svg-core/styles.css";
@import "~bootstrap/scss/bootstrap";

@import "./components/Layout/layout";
@import "./components/Blog/blogpage";
@import "./components/Blog/notebook";
@import "./components/Resume/timeline";
@import "./components/Widget/widget";

@include media-breakpoint-up(lg) {
  body {
    margin: 35px;
    background-color: $body-bg-up-lg;
  }
}

a {
  transition: all 0.2s;

  > img {
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

code {
  background-color: $code-bg;
  padding: 3px 4px;
  margin: 0 2px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img {
  &::selection {
    color: $white;
    background: transparent;
  }

  &::-moz-selection {
    color: $white;
    background: transparent;
  }
}
