@import "./variables";
@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(lg) {
  body {
    margin: 35px;
    background-color: $body-bg-up-lg;
  }
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img {
  transition: all 0.3s ease-out;

  &::selection {
    color: $white;
    background: transparent;
  }

  &::-moz-selection {
    color: $white;
    background: transparent;
  }

  &:hover {
    opacity: 0.9;
  }
}
